<%- include("../partials/header") %>

<div class="container">

    <h4>Verification email sent, please check your email.</h4> 
    <h4>The verification link in it will be expired after 1 hour</h4>
    
    <a class="btn btn-primary btn-sm" href="/home">Back to Home page</i></a>
</div>

<%- include("../partials/footer") %>
