
<div class="container">

    <form action="/account/<%=currentUser.id%>" method="POST">

        <label for="currentPassword" class="mt-2" required>Current Passowrd:</label>
        <input type="text" class="form-control" name="currentPassword" placeholder="Enter the current password" required>
        
        <label for="newPassword" class="mt-2" required>New Passowrd:</label>
        <input type="text" class="form-control" name="newPassword" placeholder="Enter the new password" required>
        
        <label for="newPasswordConfirm" class="mt-2" required>Confirm New Passowrd:</label>
        <input type="text" class="form-control" name="newPasswordConfirm" placeholder="Enter the new password again" required>


        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success btn-sm" value="Update">
        </div>


    </form>

</div>
